@import './variables.scss';

/*
    text-transform
    text-decoration
    outline
    border
    эдгээр property-ийг судлаарай
*/

// .btn {
//     border-radius: 100px;
//     text-transform: uppercase;
//     text-decoration: none;
//     outline: none !important;
// }

.btn {
    outline: none !important;
    text-decoration: none;
    border-color: none;
    cursor: pointer;
}


.signUpBorder {
    height: 2px;
    width: 373px;
    border-radius: 33px;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
    user-select: none;
}

.input {
    outline: none;
}
